{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-content padding-y bg">
    <div class="container">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success text-center" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <div class="row">
            <aside class="col-lg-9">
                <div class="card">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="120">Price</th>
                                <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for item in item_list %}
                            <tr>
                                <td>
                                    <div class="aside"><img src="{{ item.product.image.url }}" class="img-sm" style="max-width:40%"></div>
                                    <a href="{{ item.product.get_absolute_url }}" class="title text-dark">{{ item.product.title }}</a>
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <div class="price">{{ item.product.price }}$</div>
                                        <p><small class="text-muted">per two weeks</small></p>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <form method="POST" action="{% url 'DeleteItemFromCart' pk=item.pk %}">
                                        {% csrf_token %}
                                        <button class="btn btn-danger"> Remove</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </aside>

            <aside class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right">{{ price }}$</dd>
                        </dl>

                        {% if not item_list %}
                        <p>Cart is empty</p>
                        {% elif user.if_address %}
                        <p>Address is not complete</p>
                        {% else %}
                        <input type="radio" id="pickup" value="pickup"/>Personal Pickup
                        <input type="radio" id="inpost" value="inpost"/>Inpost
                        <div id="paypal-button-container"></div>
                        {% endif %}

                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

<script src="https://www.paypal.com/sdk/js?client-id=ASSy-9ZwcMqTUmhxXQbvWkM6gGMm0ZpY-fpQJoMxMTxXHU0qxKVerVhwZSGfJxqUleLOYu5YADkZbTH1&currency=USD"></script>

<script>

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

var total = "{{ price }}"
var url = "{% url 'Checkout' %}"
var shippingMethod = "None"

paypal.Buttons({
    createOrder: function(data, actions) {
        return actions.order.create({
            purchase_units: [{
                amount: {
                    value: total
                }
            }]
        });
    },

onApprove: function(data, actions) {
    return actions.order.capture().then(function(details){
        setShipping();
        sendData();
        window.location.href = "{% url 'order_complete' %}";
        function setShipping(){
            if(document.getElementById('pickup').checked) {
                shippingMethod = "Personal Pickup"
            }
            else if(document.getElementById('inpost').checked) {
                shippingMethod = "Inpost"
            }
        };

        function sendData(){
            fetch(url, {
                method: "POST",
                headers: {
                    "Content-type": "application/json",
                    "X-CSRFToken": csrftoken,
                },
                body: JSON.stringify({
                    transID: details.id,
                    payment_method: "Paypal",
                    status: details.status,
                    shipping: shippingMethod,
                }),
            })
        }
    });
}
}).render('#paypal-button-container');

</script>
{% endblock %}
