{% extends 'base.html' %}
{% load static %}
{% block content %}

<script type="text/javascript">
    var total = {{ cart.get_total_price }}
    var shippingMethod = "Personal Pickup";
    var shippingCost = 0;

    function myFunction(){
    if(document.getElementById('pickup').checked) {
        shippingMethod = "Personal Pickup";
        total = {{ cart.get_total_price }};
        shippingCost = 0;
        document.getElementById("total_price").innerHTML = total+"$";
        }
    else if(document.getElementById('inpost').checked) {
        shippingMethod = "Inpost";
        total = total + 10;
        shippingCost = 10;
        document.getElementById("total_price").innerHTML = total+"$";
        }
}
</script>

<section class="section-content padding-y bg">

        <div class="row">
            <aside class="col-lg-9">
                <div class="card">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="120">Price</th>
                                <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart %}
                            {% with product=item.product %}
                            <tr>
                                <td>
                                    <div class="aside"><img src="{{ product.image.url }}" class="img-sm" style="max-width:40%"></div>
                                    <a href="{{ product.get_absolute_url }}" class="title text-dark">{{ item.product.title }}</a>
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <div class="price">{{ item.price }}$</div>
                                        <p><small class="text-muted">per two weeks</small></p>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <form method="POST" action="{% url 'DeleteItemFromCart' product.pk %}">
                                        {% csrf_token %}
                                        <button class="btn btn-danger"> Remove</button>
                                    </form>
                                </td>
                            </tr>
                            {% endwith %}
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </aside>

            <aside class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right" id="total_price">
                                <div></div>
                                     <script type="text/javascript">
                                        document.write(total)
                                     </script>$</dd>
                        </dl>

                        {% if not cart %}
                        <p>Cart is empty</p>
                        {% elif user.if_address %}
                        <p>Address is not complete</p>
                        {% else %}
                        <p>
                        <input type="radio" id="pickup" value="pickup" name="shipping" onclick="myFunction()" checked/>Personal Pickup 0$
                        </p>
                        <p>
                        <input type="radio" id="inpost" value="inpost" name="shipping" onclick="myFunction()"/>Inpost 10$
                        </p>
                        <form method="POST">
                            {% csrf_token %}
                            <div id="paypal-button-container"></div>
                        </form>

                        {% endif %}

                    </div>
                </div>
            </aside>
        </div>
</section>

<script src="https://www.paypal.com/sdk/js?client-id=ASSy-9ZwcMqTUmhxXQbvWkM6gGMm0ZpY-fpQJoMxMTxXHU0qxKVerVhwZSGfJxqUleLOYu5YADkZbTH1&currency=USD"></script>

<script>


function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');


var url = "{% url 'OrderCreate' %}"

document.write(shippingCost);

paypal.Buttons({
    createOrder: function(data, actions) {
        return actions.order.create({
            purchase_units: [{
                amount: {
                    value: total
                }
            }]
        });
    },

onApprove: function(data, actions) {
    return actions.order.capture().then(function(details){
        sendData();
        window.location.href = url;

        function sendData(){
            fetch(url, {
                method: "POST",
                headers: {
                    "Content-type": "application/json",
                    "X-CSRFToken": csrftoken,
                },
                body: JSON.stringify({
                    transID: details.id,
                    payment_method: "Paypal",
                    status: details.status,
                    shipping: shippingMethod,
                    shippingCost: shippingCost,
                }),
            })
        }
    });
}
}).render('#paypal-button-container');

</script>
{% endblock %}
