{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-content padding-y bg">
<div class="container">
<div class="row">
	<aside class="col-lg-9">
<div class="card">
<table class="table table-borderless table-shopping-cart">
<thead class="text-muted">
<tr class="small text-uppercase">
  <th scope="col">Product</th>
  <th scope="col" width="120">Price</th>
  <th scope="col" class="text-right" width="200"> </th>
</tr>
</thead>
<tbody>
{% for item in item_list %}
<tr>
	<td>
		<div class="aside"><img src="{{ item.product.image.url }}" class="img-sm" style="max-width:40%"></div>
		<a href="{{ item.product.get_absolute_url }}" class="title text-dark">{{ item.product.title }}</a>
	</td>
	<td>
		<div class="price-wrap">
			<div class="price">$15</div>
			<p><small class="text-muted">per two weeks</small></p>
		</div>
	</td>
	<td class="text-right">
		<a href="" class="btn btn-danger"> Remove</a>
	</td>
</tr>

{% endfor %}
</tbody>
</table>
</div>
	</aside>
	<aside class="col-lg-3">
		<div class="card">
		<div class="card-body">
			<dl class="dlist-align">
			  <dt>Total price:</dt>
			  <dd class="text-right">$30</dd>
			</dl>
			<form method="POST" action="{% url 'Checkout' %}">
				{% csrf_token %}
				<button class="btn btn-primary btn-block">Checkout</button>
				<a href="{% url 'home'%}" class="btn btn-light btn-block">Continue Shopping</a>
			</form>
		</div>
		</div>
</aside>
</div>
</div>
</section>
{% endblock %}
