{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Products</h2>
    <a href="{% url 'BookCreateView' %}"><input type="submit" value="Add Book"></a>
    <a href="{% url 'CDCreateView'%}"><input type="submit" value="Add CD"></a>
    <a href="{% url 'FilmCreateView'%}"><input type="submit" value="Add Film"></a>

    <table>
        <tr>
            <th>number of all products</th>
            <th>number of books</th>
            <th>number of CD's</th>
            <th>number of Films</th>
        </tr>
        <tr>
            <td>{{ number_of_all_products }}</td>
            <td>{{ number_of_books }}</td>
            <td>{{ number_of_cds }}</td>
            <td>{{ number_of_films }}</td>
        </tr>
    </table>
    <a href="{% url 'ProductsListView' %}">All Products</a>
    <hr>
    <h2>Orders</h2>
    <table>
        <tr>
            <td>number of ordered</td>
            <td>number of sent</td>
            <td>number of delivered</td>
            <td>number of extended</td>
            <td>number of returned</td>
        </tr>
        <tr>
            <th>{{ number_of_ordered }}</th>
            <th>{{ number_of_sent }}</th>
            <th>{{ number_of_delivered }}</th>
            <th>{{ number_of_extended }}</th>
            <th>{{ number_of_returned }}</th>
        </tr>
    </table>
    <h6><a href="{% url 'OrdersListView' %}">See all Orders</a></h6>
    <hr>
    <h2>Carts</h2>
    <table>
        <tr>
            <td>Number of carts</td>
            <td>Number of items in carts</td>
        </tr>
        <tr>
            <td>{{ number_of_carts }}</td>
            <td>{{ number_of_items_in_carts}}</td>
        </tr>
    </table>
    <h6><a href="{% url 'CartListView' %}">See all Carts</a></h6>
    <hr>
    <h2>Users</h2>
    <table>
        <tr>
            <td>Number of users</td>
        </tr>
        <tr>
            <th> {{ number_of_users }}</th>
        </tr>
    </table>
    <h6><a href="{% url 'UsersListView' %}">See all Users</a></h6>
</div>

{% endblock %}