{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <a href="{% url 'BookCreateView' %}"><input type="submit" value="Add Book"></a>
    <a href="{% url 'CDCreateView'%}"><input type="submit" value="Add CD"></a>
    <a href="{% url 'FilmCreateView'%}"><input type="submit" value="Add Film"></a>
    <a href="{% url 'ProductsListView' %}">All Products</a>
    <table>
        <tr>
            <th>number of all products</th>
            <th>number of books</th>
            <th>number of CD's</th>
            <th>number of Films</th>
        </tr>
        <tr>
            <td>{{ number_of_all_products }}</td>
            <td>{{ number_of_books }}</td>
            <td>{{ number_of_cds }}</td>
            <td>{{ number_of_films }}</td>
        </tr>
    </table>
    <h2>Orders</h2>
    <table>
        <tr>
            <td>number of ordered</td>
            <td>number of sent</td>
            <td>number of delivered</td>
            <td>number of extended</td>
            <td>number of returned</td>
        </tr>
        <tr>
            <td>{{ number_of_ordered }}</td>
            <td>{{ number_of_sent }}</td>
            <td>{{ number_of_delivered }}</td>
            <td>{{ number_of_extended }}</td>
            <td>{{ number_of_returned }}</td>
        </tr>
    </table>
        <table>
            <tr>
                <th>Email</th>
                <th>Ordered Date</th>
                <th>Item in Order</th>
                <th>Total</th>
                <th>Status</th>
                <th>details</th>
                <th>Change Status</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td>{{order.user.email}}</td>
                <td>{{order.order_date}}</td>
                <td>1</td>
                <td>{{order.total}}$</td>
                <td>{{order.status}}</td>
                <td><a href="{% url 'OrderDetailView' pk=order.pk %}">Details</a></td>
                <td>
                   <form action="{% url 'ChangeOrderStatus' pk=order.pk %}" method="POST">{% csrf_token %}
                    {{ order_status.status }}
                    <input type="submit" value="Change Status">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

    {% if orders %}
        <h6><a href="{% url 'OrdersListView' %}">See all Orders</a></h6>
    {% endif %}

    <h2>Carts</h2>
    <table>
        <tr>
            <th>User</th>
            <th>Total Price</th>
            <th>Quantity Of Items</th>
        </tr>
        {% for cart in carts %}
        <tr>
            <td>{{cart.user.email}}</td>
            <td>{{cart.total}}</td>
            <td>{{cart.quantity_of_items}}</td>
        </tr>
        {% endfor %}
    </table>
     {% if carts %}
        <h6><a href="{% url 'CartListView' %}">See all Carts</a></h6>
    {% endif %}
    <h5><a href="{% url 'UsersListView' %}">Users</a></h5>
</div>

{% endblock %}