{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">

        <table>
            <tr>
                <th>Email</th>
                <th>Ordered Date</th>
                <th>Item in Order</th>
                <th>Total</th>
                <th>Status</th>
                <th>Detail</th>
                <th>Change Status</th>
            </tr>
            {% for order in object_list %}
            <tr>
                <td>{{order.user.email}}</td>
                <td>{{order.order_date}}</td>
                <td>1</td>
                <td>{{order.total}}$</td>
                <td>{{order.status}}</td>
                <td><a href="{% url 'OrderDetailView' pk=order.pk %}">Details</a></td>
                <td>
                    <form action="{% url 'ChangeOrderStatus' pk=order.pk %}" method="POST">{% csrf_token %}
                    {{ order_status.status }}
                    <input type="submit" value="Change Status">
                </td>
            </tr>
            {% endfor %}
        </table>

</div>

{% endblock %}