{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">

        <table>
            <tr>
                <th>Email</th>
                <th>Ordered Date</th>
                <th>Item in Order</th>
                <th>Total</th>
                <th>Status</th>
                <th>details</th>
            </tr>
            {% for order in object_list %}
            <tr>
                <td>{{order.user.email}}</td>
                <td>{{order.order_date}}</td>
                <td>1</td>
                <td>{{order.total}}$</td>
                <td>{{order.status}}</td>
                <td></td>
            </tr>
            {% endfor %}
        </table>

</div>

{% endblock %}