{% extends 'base.html' %}
{% load static %}
{% block content %}

    <form method="POST">
        {% csrf_token %}
        
        {{ form.email.label }}:
        <br>
        {{ form.email }}
        <br>
        {{ form.password1.label }}:
        <br>
        {{ form.password1 }}
        <br>
        {{ form.password2.label }}:
        <br>
        {{ form.password2 }}
        <br>
        <br>
        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}

        {% if form.password2.errors %}
            {{ form.password2.errors }}
        {% endif %}
        <button type="submit" class="btn btn-primary">Register</button>
    </form>

{% endblock content %}