{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-content padding-y bg">
		<div class="row">
			<aside class="col-lg-9">
				<div class="card">
					<table class="table table-borderless table-shopping-cart">
						<thead class="text-muted">
							<tr class="small text-uppercase">
								<th scope="col" width="120">Payment ID</th>
								<th scope="col" width="120">Email</th>
								<th scope="col" width="120">Cost</th>
								<th scope="col" width="120">Order</th>
							</tr>
						</thead>
						<tbody>
							{% for payment in object_list %}
								<tr>
									<td>{{ payment.payment_id }}</td>
									<td>{{ payment.order.user.email }}</td>
									<td>{{ payment.amount_paid }}$</td>
									<td>Order number: {{ payment.order.pk }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</aside>
		</div>
</section>
{% endblock %}
