{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-success text-center" role="alert">{{ message }}</div>
		{% endfor %}
	{% endif %}
	<div class="row">
	{% for object in object_list %}
		<div class="col-md-3 mx-auto">
			<div class="card card-product-grid">
				<img src="{{ object.image.url }}">
				<a href="{{ object.get_absolute_url }}" class="text-center">{{ object.title }}</a>
			</div>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}