<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="{% url 'Home' %}" class="nav-link px-2 link-dark">All</a></li>
      <li><a href="{% url 'BookListView' %}" class="nav-link px-2 link-dark">Books</a></li>
      <li><a href="{% url 'CDListView' %}" class="nav-link px-2 link-dark">CD's</a></li>
      <li><a href="{% url 'FilmListView' %}" class="nav-link px-2 link-dark">Films</a></li>
      <li><a href="{% url 'Statistics' %}" class="nav-link px-2 link-dark">Statistics</a></li>
    </ul>
    {% if user.is_authenticated %}
      <div class="col-md-3 text-end">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'Account' user.pk %}" class="nav-link px-2 link-dark">Account</a></li>
          <li><a href="{% url 'Orders' %}" class="nav-link px-2 link-dark">Orders</a></li>
          <li><a href="{% url 'Cart' %}" class="nav-link px-2 link-dark">Cart</a></li>
          <li><a href="{% url 'Logout' %}"><button type="button" class="btn btn-outline-primary me-2">Logout</button></a>
        </ul>
      </div>
    {% else %}
      <div class="col-md-3 text-end">
        <a href="{% url 'Login' %}"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
        <a href="{% url 'Register' %}"><button type="button" class="btn btn-primary">Sign-up</button></a>
      </div>
    {% endif %}
  </header>
</div>