{% extends 'base.html' %}
{% load static %}
{% block content %}

    <form method="GET">
        {{ form.t1 }} {{ form.t2 }}
        <button class="btn btn-secondary btn-sm">Search</button>
    </form>

    <h2>Books</h2>
    <table>
        <tr>
            <th>Genre</th>
            <th>Popularity</th>
        </tr>
        {% for key, value in pop.book.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>

        </tr>
        {% endfor %}
    </table>

    <h2>Films</h2>
    <table>
        <tr>
            <th>Genre</th>
            <th>Popularity</th>
        </tr>
      {% for key, value in pop.film.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>

        </tr>
        {% endfor %}
    </table>

    <h2>Cds</h2>
    <table>
        <tr>
            <th>Genre</th>
            <th>Popularity</th>
        </tr>
      {% for key, value in pop.cd.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>

        </tr>
        {% endfor %}
    </table>
    <h2>User ranking</h2>
    <table>
        <tr>
            <td>User</td>
            <td>Books</td>
            <td>Films</td>
            <td>Cds</td>
        </tr>

        {% for key, values in users_items.items %}
        <tr>
            <td>{{key}}</td>
            {% for value in values %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>
{% endblock %}
